---
layout: default
---

        <!--  //DEFAULT ENDS HERE -->
	 <div class ="posts">
	 {% for post in site.posts offset:1 %}
	   <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
	    <div class="mdl-card__media mdl-color-text--grey-50" {% if post.bgimage %} style = "background-image: url('{{ site.baseurl }}/images/{{ post.bgimage }}')" {% else %} style = "background-image: url('{{ site.baseurl }}/images/noimg.png')"   {% endif %}>
	      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
	    </div>
	    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
	      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
	    </div>
	    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
	      <div class="minilogo" {% if site.avatar %} style = "background-image: url({{ site.avatar }})" {% else %} style = "background-image: url({{ site.baseurl }}/images/avatar.png)"
	      {% endif %}></div>
	      <div>
	        <strong>Posted on</strong>
	        <span>{{ post.date | date: '%B %d, %Y' }}</span>
	      </div>
	    </div>
	  </div>
	 {% endfor %}
	 </div> 
	
